.task {
  width: 28.1875rem;
  background: var(--gray-500);
  padding: 0.15rem;
  border-radius: .5rem;
  border: var(--gray-400) solid;
  color: var(--gray-100);
  display: flex;
  justify-content: space-evenly;
}

.task p {
  width: 21.6875rem;
  margin-top: 1rem;
}

.task input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  color: var(--blue);
  width: 1.0906rem;
  height: 1.0906rem;
  border: 0.15em solid var(--blue);
  border-radius: 100%;
  transform: translateY(-0.075em);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task input[type="checkbox"]:hover {
  border: 0.15em solid var(--blue-dark);
  background: var(--blue-dark);
}

.task input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
  border: 0.15em solid var(--purple-dark);
  background-image: url("../assets/Check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.875rem;
}

.task input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
  border: 0.15em solid var(--purple);
}

.task .delete {
  background: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--gray-300);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .delete:hover {
  background: var(--gray-400);
  border: none;
  border-radius: .25rem;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--danger);
}