.createTask {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10.81rem;
}

.createTask input {
  width: 46rem;
  background: var(--gray-500);
  color: var(--gray-300);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
}

.createTask button[type="submit"] {
  width: 5.625rem;
  height: 3.25rem;
  margin: 0 0.5rem;
  padding: 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  border: none;
}

.createTask button[type="submit"]:hover {
  background: var(--blue);
}

.createTask .createIcon {
  vertical-align: text-bottom;
  font-size: 0.875rem;
  border: 1px solid var(--gray-100);
  border-radius: 50%;
  margin-left: 0.3rem;
  height: 1rem;
  width: 1rem;
}

.wrapper {
  width: 46rem;
  display: flex;
  justify-content: center;
  align-ítems: center;
  position: relative;
  margin: auto;
  flex-direction: column;
  top: calc(18.1875rem - 12.5rem);
}

.status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--gray-600);
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.status .createdTasks {
  color: var(--blue);
  font-weight: bold; 
}

.status .finishedTasks {
  color: var(--purple);
  font-weight: bold;
}

.status span {
  background: var(--gray-400);
  border-radius: 999px;
  padding: 0.5rem;
  color: var(--gray-100);
  margin-left: .5rem;
}

.taskList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.emptyList {
  width: 100%;
  height: 15.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-top: 1px solid #333;
  border-radius: 8px;
}

.taskList img {
  align-items: center;
}

p {
  color: var(--gray-300);
}

.bold {
  font-weight: bold;
} 

.task {
  width: 100%;
  background: var(--gray-500);
  padding: 0.15rem;
  border-radius: .5rem;
  border: var(--gray-400) solid;
  color: var(--gray-100);
  display: flex;
  justify-content: space-evenly;
}

.task p {
  width: 100%;
  margin-top: 1rem;
}

.task input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  color: var(--blue);
  width: 1.0625rem;
  height: 1.0625rem;
  border: 0.15em solid var(--blue);
  border-radius: 100%;
  transform: translateY(-0.075em);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.task input[type="checkbox"]:hover {
  border: 0.15em solid var(--blue-dark);
  background: var(--blue-dark);
}

.task input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
  border: 0.15em solid var(--purple-dark);
  background-image: url("../assets/Check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.875rem;
}

.task input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
  border: 0.15em solid var(--purple);
}

.task .delete {
  background: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--gray-300);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.task .delete:hover {
  background: var(--gray-400);
  border: none;
  border-radius: .25rem;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--danger);
}